<% provide(:title, 'Delivery for all') %>
<div style="background: #ffffff;">
  <div class="container">
    <div class="row">
      </br>
      <h4 class="line-divider" style="text-align: center" id="delivery_for_all" name="delivery_for_all"><%= (t 'menu.delivery_for_all') %></h4>

      <div class="col-md-12">
        <%= (t 'content.for_all_1').html_safe %>

        <table>
          <tbody>
          <tr align="center" height="50" valign="top">
            <td rowspan="4">
              <img alt="" src="/assets/teleporttyd_create.png" style="width: 334px; height: 400px;">
            </td>

          </tr>
          <tr align="center" height="50" valign="top">
            <td colspan="3" style="text-align: justify;">
              <%= (t 'content.for_all_2').html_safe %>
            </td>
          </tr>
          <tr align="center" valign="top">
            <td><p style="text-align: right;">
              <a href="https://play.google.com/store/apps/details?id=com.teleport.saasTYD" target="_blank" title="Teleport SAAS System on Google Play"><img alt="google play" class="aligncenter size-full wp-image-1785" height="60" src="/assets/link_android_link_android_get_it_on_play_logo_large.png" style="float: right;" width="183"></a>
            </p></td>
            <td rowspan="2">
              <a href=""><img alt="" src="/assets/qr-code_teleport_track.gif" style="float: left; width: 90px; height: 90px;"></a>
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr align="center" valign="top">
            <td style="text-align: right;">
              <span style="color: rgb(153, 153, 153); font-family: 'Open Sans', arial, sans-serif; font-size: 10px; line-height: 14px;">Available on Android 2.2, Froyo, or later.</span>
            </td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
        </table>
        <div align="center">
        <img alt="" src="/assets/delivery_for_all.png">
        </div>
      </div>
    </div>
  </div>
  </br>
</div>
