<div id="for_clinics" name="for_clinics">
  <div class="container">
    <div class="row">
      </br>
      <h4 style="text-align: center; padding-bottom:10px; border-bottom: solid 1px lightgray;"><%= (t 'menu.for_clinics') %></h4>

      <div class="col-md-12 text-justify">
        <%= (t 'content.for_stores_1').html_safe %>
        <p align="center">
          <a class="btn btn-lg btn-success signup" href="https://saas.teleport-ds.com/signup" role="button" target="_blank"><%= (t 'main.get_started') %> <%= (t 'main.its_free') %></a>
        </p>
      </div>
    </div>
  </div>
  </br>
</div>