<div style="background: #ededed; padding-bottom: 30px;" id="how_it_works" name="how_it_works">
  <div class="container">
    <div class="row">
      </br>
      <h4 class="line-divider" style="text-align: center"><%= (t 'menu.how_it_works') %></h4>

      <div class="col-md-6">
        <img alt="" src="/assets/macbookpro_t.png" style="width: 500px; height: 295px;">
      </div>
      <div class="col-md-6">
        <div class="hidBlock">
        <div class="vertical-align text-justify">
          <%= (t 'content.how_it_works_1') %>
          <%= (t 'content.how_it_works_2').html_safe %>
        </div>
        </div>
      </div>
</div>
</div>
</div>