<% provide(:title, 'Privacy and security') %>
<div class="container">
  <div class="well well-sm">
    <h3 class="text-center"><%= (t 'menu.privacy_and_security') %></h3>
    <div class="text-justify">
<%= (t 'content.privacy_and_security').html_safe %>
      </div>
  </div>
</div>