<% provide(:title, 'About us') %>
<div class="row" id="about_us" name="about_us">
  </br>
  <h4 class="line-divider" style="text-align: center"><%= (t 'menu.about_us') %></h4>
  <div class="col-sm-12 overlay-text">
    <div class="vertical-align">
      <p class="text-justify">
        <%= (t 'content.about_service').html_safe %>
      </p>
    </div>
  </div>
</div>