<footer class="footer">
  <small>
    <a href="http://www.teleport-ds.com/">www.teleport-ds.com</a>
    All Rights Reserved, 2013. Created by <a href="http://proalab.com/" target="_blank">Proalab</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to (I18n.t 'menu.privacy_and_security'), privacy_and_security_path %></li>
      <li>|</li>
      <li><%= link_to (I18n.t 'menu.terms_of_use'), terms_of_use_path %></li>
    </ul>
  </nav>
</footer>