<% provide(:title, 'For stores') %>
<div style="background: #ededed;" id="delivery_for_stores" name="delivery_for_stores">
  <div class="container">
    <div class="row">
      </br>
      <h4 class="line-divider" style="text-align: center"><%= (t 'menu.for_stores') %></h4>

      <div class="col-md-12 text-justify">
        <%= (t 'content.for_stores_1').html_safe %>
        <h4 style="text-align: center;"><%= (t 'content.for_stores_2') %></h4>
        <ul style="text-align: justify;">
          <%= (t 'content.for_stores_3').html_safe %>
        </ul>
      </div>



    </div>
  </div>
  </br>
</div>